[Unit]
Description=Run the NovaLink database backup daily

[Timer]
OnCalendar=*-*-* 02:17:00
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
